#logo{
  color: red;
  background-color: rgb(25,67,120);
  height: 50px;
  line-height: 50px;
  font-size: 45px;
}
#logo img{
  height: 100%;
  width: auto;
  float:left;
  background-color: rgba(0,0,0,0);
}
#login{
  position: absolute;
  top: 50px;
  bottom: 0;
  background-color: #aaa;
  left:0;
  right: 0;
  overflow: auto;
  padding: 5px;
}
.btn{
  background-color: steelblue;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  outline: none;
  border: none;
}
.form{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  background-color: white
}
.item{
  display: table;
  margin:5px 0;
  width: 100%;
}
.item label{
  color: #777;
  width: 100px;
  display: table-cell;
  text-align: right;
  padding-right: 5px;
}
.item input{
  width: 100%;
  display:table-cell;
} 
#login header,#login footer,#login article{
  margin: 5px 0;
}
#firstPage{
  padding:10px 0 0;
}
#firstPage table{
  width: 100%;
  text-align: center;
}
td{
  background-color: #aaa;
}
#firstPage td:hover{
  background-color: #ddd;
}
#firstPage td a{
  text-decoration: none;
  cursor: default;
}
td.active{
  background-color: #ddd;
}
#fp{
  padding: 10px;
}
#fp header p{
  color: brown;
}