<div id="customerService" class="border container">
<h1 class="text-center">客服</h1>
<section>
    <header><span>岗位职责：</span></header>
    <article>
        <p>
            1. 负责顾客故障机的收，取机工作。同时对各种维修数据进行有效录入与维护；
            <br>
            2. 对客户维修问题进行有效判断和耐心处理，做好顾客来电沟通的相关记录；
            <br>
            3. 及时与维修部进行有效沟通及工作对接，保证整个维修流程的从前端到后台的流畅有序，以最佳化客户的下单维修体验；
            <br>4. 端正态度面对客户投诉，及时总结其中问题并提出合理化整改意见。</p>
    </article>
</section>
<section>
    <header><span>任职资格：</span></header>
    <article>
        <p>
            1.普通话标准清晰，声音甜美，性格开朗，亲和力强，工作耐心；
            <br>
            2.有一定的客户服务礼仪与沟通技巧，较强的客户服务意识与较好的服务态度；
            <br>
            3.具备善于发现并解决问题的能力，能承受一定的工作压力；
            <br>4.熟练使用办公软件。</p>
    </article>
</section>
</div>