<section id="firstPage">
    <header>
        <nav>
            <table>
                <tr>
                    <td ui-sref-active="active">
                        <a ui-sref="index.firstPage.fp">首页</a>
                    </td>
                    <td ui-sref-active="active">
                        <a>简单查询</a>
                    </td>
                    <td ui-sref-active="active">
                        <a>日历查询</a>
                    </td>
                    <td ui-sref-active="active">
                        <a>考勤统计</a>
                    </td>
                    <td ui-sref-active="active">
                        <a>情况说明</a>
                    </td>
                </tr>
            </table>
        </nav>
    </header>
    <article>
        <div ui-view=""></div>
    </article>
    <footer></footer>
</section>